.correo {
    display: flex;
    flex-direction: column; /* Para alinear el texto verticalmente */
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    width: 300px;
    height: 200px;
    background-color: #191414;
    border: 2px solid #333; /* Borde del contenedor */
    border-radius: 10px; /* Radio de borde para hacerlo más rectangular */

    h4 {
        color: white;
        font-family: cursive;
        font-size: large;
        font-weight: bolder;
      }
  }
  
  .contenedor-correo {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    min-height: none; /* Altura mínima de la ventana */
  }
  